
#outer{
    border:5px solid red;
    height:300px;
    width: 300px;
    padding: 10px;
    position: relative;
    top:100px;
    left:400px;
}
.inner{
    height:300px;
    width: 300px;
    border:2px solid;
    position: absolute;
    transition: all 1s;

}

#outer:hover #fir{
    transform: rotate(18deg);
}
#outer:hover #sec{
    transform: rotate(36deg);
}
#outer:hover #thr{
    transform: rotate(54deg);
}
#outer:hover #for{
    transform: rotate(72deg);
}
#outer:hover #fiv{
    transform: rotate(90deg);
}